//parameters for NextFlow dual search pipeline

params {
	//required input
	fasta = '*.fasta'
	raw = '*.raw'
	comet_params = 'comet.params'
	fdr_filtered_pepxml = '*.FDR.pep.xml'
	

	//required output
	result_db_dir = 'dbsearch/'
	result_spectast_dir = 'splibsearch/'
	
	//additional; otherwise left as default
	//spectrast_params = 'spectrast.params'
	//peptide_prophet_params = 'pepprophet.params'
}

docker {
	enabled = true
}